component-body {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

:host {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}



c-will-you-be-my-valentine-ting-icon {
  stroke-width: 4px;
  width: min(820px, 100%);
  padding: 0 30px;
  box-sizing: border-box;
  height: 100px;
}

c-block-button {
  margin: 10px;
}

c-block-button[name="yes"] {
  --background-color: rgb(47, 208, 47);
}


c-block-button[name="no"] {
  --background-color: rgb(228, 65, 65);
}

button-wrapper {
  display: flex;

}

img-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: white;
  z-index: 10;
  display: none;
}

img {
  height: 90%;
  max-width: 100%;
  border-radius: 20px;
}