c-will-you-be-my-valentine-ting-icon(name="heading")

button-wrapper
  c-block-button(name="yes") Yes <3
  c-block-button(name="no") No </3

img-wrapper(name="imgWrap")
  img(src="/res/img/yay-kitty.gif")